$brand-color: #6c63ff;
$brand-color-hover: #392dff;
$brand-color-disable: #a6a0ff;

$background-color: #eef2f6;
$background-secondary-color: #fff;

$font-color-primary: #364152;
$font-color-secondary: #aeaeae;

$error-color: #921517;

$font-size-h1: 32px;
$font-size-h2: 24px;
$font-size-text: 16px;
$font-size-text-small: 12px;

$border-radius-standart: 8px;
$border-radius-big: 16px;
