@import '../../styles/variables.scss';

.tech-list {
  width: 100%;
  //   background-color: red;
  display: grid;
  height: fit-content;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 12px;
  column-gap: 36px;

  &__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    &_title {
      font-size: $font-size-h1;
      color: $font-color-primary;
    }

    &_list {
      text-align: left;
      color: $brand-color;

      &_item {
        margin-bottom: 6px;
        list-style-type: disc;
      }
    }
  }
}
