@import '../../styles/variables.scss';

@import '../../styles/variables.scss';

.input {
  margin-top: 10px;

  &.big {
    font-size: 24px;
  }

  &.medium {
    font-size: 16px;
  }

  &.small {
    font-size: 12px;
  }

  &__block {
    text-align: left;
    width: 100%;

    outline: 1px solid $brand-color;

    padding: 0.5em 1em;
    border-radius: 0.5em;

    &:focus {
      outline: 2px solid $brand-color;
    }
  }
}
