@import '@styles/variables.scss';

.input {
  &.big {
    font-size: $font-size-h2;
  }

  &.medium {
    font-size: $font-size-text;
  }

  &.small {
    font-size: $font-size-text-small;
  }

  &__block {
    text-align: left;
    width: 100%;

    outline: 1px solid $brand-color;

    padding: 0.5em 1em;
    border-radius: 0.5em;

    &:focus {
      outline: 2px solid $brand-color;
    }
  }
}
