@import '@styles/variables.scss';

.button {
  font-family: 'Inter', sans-serif;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.5em 1em;
  border-radius: 0.5em;

  background-color: $brand-color;
  color: #fff;

  transition: background-color 0.1s linear;

  &.big {
    font-size: $font-size-h2;
  }

  &.medium {
    font-size: $font-size-text;
  }

  &.small {
    font-size: $font-size-text-small;
  }

  &:hover {
    background-color: $brand-color-hover;
  }

  &__text {
    margin: 0 auto;
  }
}
