@import '@styles/variables.scss';

.admin-page {
  width: $content-width;
  max-width: $content-max-width;

  margin: 0 auto;
  padding-top: 102px;

  display: flex;
  justify-content: space-between;
}
