@import '../../../../styles/variables.scss';

.technologies-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 170px;

  border-right: 2px solid $brand-color;

  &__item {
    font-size: $font-size-text;
    font-weight: 600;
    line-height: 1.5rem;

    &.active {
      color: $brand-color;
    }
  }
}
